@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
body {
    width: 100%;
    height: 100%;
    background-color: #5B2386;
    font-family: 'GmarketSansMedium';
    color: #fFFFFF;
    margin: 0;
    padding: 0;
}
#app h1 {
    height: 265px;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    width: 564px;
}
.img-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 78px;
}
.txt-desc {
    text-align: center;
}
.txt-desc p {
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-top: 78px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.txt-desc strong {
    line-height: 24px;
    font-size: 24px;
    font-family: 'GmarketSansBold';
}
.quotes {
    display: flex;
    position: absolute;
}
.cont-inp {
    font-size: 24px;
    text-align: center;
    margin: 102px auto 80px;
}
.cont-inp input {
    border-style: none;
    border-radius: 7px;
    font-size: 24px;
    width: 228px;
    height: 57px;
    margin: 17px 27px;
    text-align: center;
}
.btn {
    align-items: center;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    background-color: #FCEE21;
    border: none;
    border-radius: 56px;
    padding: 21px 49px;
    color: #5B2386;
}
.btn-wrap {
    display: flex;
    justify-content: center;
    margin: 130px auto;
}
.btn .exc {
    width: 565px;
    height: 66px;
    position: relative;
}
.click {
    width: 64px;
    height: 72px;
    position: absolute;
    top: 1100px;
    left: 1500px;
}
#result {
    text-align: center;
    font-size: 24px;
    margin: 127px;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect( 0 0 0 0);
    margin: -1px;
    overflow: hidden;
}
#result strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    margin: 0 12px;
}
.btn-result {
    margin-top: 127px;
}
.modal-open {
    width: 356px;
    height: 66px;
    margin-right: 18px;
}
.share {
    width: 191px;
    height: 66px;
    background-color: #FFFFFF;
}
.cont-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    line-height: 17.38px;
    margin-bottom: 70px;
}
.cont-footer .logo {
    margin-bottom: 20px;
}
#cont-modal {
    display: none;
    text-align: center;
    top: -100%;
    left: 50%;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #5B2386;
    font-family: 'tvN Enjoystories';
}
#cont-modal p {
    display: inline-block;
    text-align: center;
    margin-top: 76px;
    font-size: 36px;
    line-height: 40px;
}
#cont-modal strong {
    font-size: 96px;
    line-height: 106px;
    margin-top: 76px;
    margin-bottom: 4px;
}
.licat {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.go {
    display: block;
    width: 508px;
    height: 66px;
    text-align: center;
    margin: 74px auto 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#cont-modal.active {
    display: block;
}