@media screen and (max-width: 700px) {
  .tit-law {
    width: 267px;
    height: 126px;
    margin-top: 41px;
    margin-bottom: 31px;
    background-size: 126px;
  }

  .img-tit {
    /* position: absolute; */
    width: 250px;
  }

  .sub-tit {
    font-size: 22px;
    margin-bottom: 62px;
  }

  .txt-desc {
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 52px;
  }

  .tit-desc {
    font-size: 16px;
  }

  .cont-inp {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 64px;
  }

  .cont-inp .txt-time {
    display: block;
    margin: 17px 0 19px 0;
  }

  .cont-inp input {
    width: 156px;
    height: 37px;
    margin: 0px 4px;
    border-radius: 7px;
    border: none;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
  }

  .cont-inp .btn-open,
  .cont-result .btn-go,
  .cont-result .btn-share,
  #modal .btn-close {
    /* height: 40px; */
    font-size: 14px;
    white-space: pre-line;
  }

  .btn-open {
    width: 241px;
    height: 68px;
    border-radius: 13px;
  }

  .cont-inp .btn-wrap .btn-open::after {
    width: 43px;
    right: -50px;
    bottom: -10px;
  }

  .cont-result-loading {
    margin-bottom: 49px;
  }

  .cont-result-loading .img-rotate {
    width: 70px;
  }

  .cont-result {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .txt-wannabe {
    margin-bottom: 15px;
  }
  .field-result {
    font-size: 24px;
    margin: 0 8px;
  }
  .cont-result .btn-go {
    width: 186px;
    margin-right: 13px;
    margin-bottom: 55px;
  }

  .cont-result .btn-share {
    width: 92px;
    background-color: #FFFFFF;
    margin-right: 0;
  }

  .cont-footer {
    font-size: 9px;
    line-height: 13px;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .cont-footer .img-footer {
    width: 91px;
    margin-bottom: 17px;
  }
  
  /* 모달 */
  #modal {
    width: 330px;
    height: 500px;
    padding: 40px 44px;
  }

  #modal .tit-modal {
    font-size: 64px;
    line-height: 70px;
  }
  
  #modal .cont-modal {
    font-size: 36px;
    line-height: 40px;
  }
  
  #modal .img-modal {
    width: 230px;
  }
  
  #modal .btn-close {
    width: 241px;
    height: 68px;
    font-size: 14px;
    padding: 17px 40px;
    border-radius: 13px;
    margin: 0;
  }
}