@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
  }
  
  /* Components */
  body {
    font-family: 'GmarketSansMedium';
    background-color: #5b2385;
    color: white;
  }
  
  #app {
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 70px;
  }
  
  .tit-law {
    display: inline-block;
    position: relative;
  }
  
  .tit-law .img-tit {
    width: 529.6px;
    height: 112.01px;
    z-index: 10;
  }
  
  .tit-law::after{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 225px;
    height: 225px;
    transform: translate(-50%, -50%);
    background-image: url("../img/clock.png");
    background-position: center;
  }
  
  /* 문구 */
  .sub-tit {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    margin: 125px auto 78px;
    color: #F5DF4D;
  }
  
  .txt-desc {
    position: relative;
    max-width: 493px;
    margin: 0 auto 96px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .txt-desc .tit-desc {
    font-size: 24px;
    font-weight: bold;
    font-family: 'GmarketSansBold';
  }
  
  .txt-desc::before {
    left: 0;
    top: 25%;
    background-image: url("../img/txt-left.png");
  }
  
  .txt-desc::after {
    right: 0;
    bottom: 25%;
    background-image: url("../img/txt-right.png");
  }
  
  .txt-desc::before, .txt-desc::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 32px;
  }
  
  /* 사용자 입력 창 그리고 결과 확인 버튼 */
  .cont-inp {
    font-size: 24px;
    margin-bottom: 147px;
  }
  
  .cont-inp .txt-wannabe {
    margin-bottom: 27px;
  }
  
  .cont-inp .txt-time {
    margin-bottom: 115px;
  }
  
  .cont-inp .btn-wrap .btn-open {
    position: relative;
  }
  
  .cont-inp .btn-wrap .btn-open::after {
    display: block;
    position: absolute;
    /* left: 1250px; */
    /* top: 1085px; */
    width: 64px;
    height: 72px;
    right: -72px;
    bottom: -20px;
    content: '';
    background-image: url(../img/click.png);
  }
  
  .cont-inp,
  .cont-result,
  .cont-result-loading {
    font-size: 24px;
    line-height: 24px;
  }
  
  .cont-inp input {
    width: 228px;
    height: 57px;
    margin: 0 10px;
    border: none;
    border-radius: 7px;
    font-size: 24px;
    text-align: center;
    vertical-align: center;
  }
  
  input::placeholder, input::-webkit-input-placeholder {
    color: #BABCBE;
  }
  
  .cont-inp .btn-wrap .btn-open {
    position: relative;
  }
  
  /* 버튼 공통 */
  .cont-inp .btn-open,
  .cont-result .btn-go,
  .cont-result .btn-share,
  #modal .btn-close {
    padding: 21px 49px;
    font-size: 24px;
    color: #5b2385;
    background-color: #fcee21;
    border: none;
    border-radius: 56px;
    cursor: pointer;
    font-family: 'GmarketSansBold';
  }
  
  /* 결과 로딩 */
  .cont-result-loading {
    display: none;
    justify-content: center;
  }
  
  .cont-result-loading .img-rotate {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -webkit-animation: rotate 1.1s infinite linear;
    animation: rotate 1.1s infinite linear;
  }
  
  /* 결과창 */
  .cont-result {
    display: none;
    margin-bottom: 130px;
  }
  
  .cont-result .txt-wannabe {
    line-height: 120px;
    margin-bottom: 22px;
  }
  
  .cont-result .txt-wannabe strong {
    font-size: 72px;
    vertical-align: top;
    font-family: 'GmarketSansBold';
  }
  
  .cont-result .btn-share {
    background-color: #fff;
    margin-left: 20px;
  }
  
  /* 회사 저작권 */
  .cont-footer {
    font-family: 'Noto Sans KR';
    font-size: 12px;
    line-height: 17px;
  }
  
  .cont-footer .img-footer {
    width: 125px;
    height: 25px;
    margin: 0 auto 20px;
  }
  
  /* 모달 */
  #modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
    width: 600px;
    height: 600px;
    background-color: #FFF;
    border-radius: 20px;
    display: none;
  }
  
  #modal .tit-modal {
    font-family: 'GmarketSansMedium';
    color: #5b2385;
    font-size: 50px;
  }
  
  #modal .cont-modal {
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    color: #5b2385;
  }
  
  #modal .img-modal {
    margin-bottom: 20px;
    width: 70%;
  }
  
  #modal .btn-close {
    box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 15%), 0px 5px 16px 0px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
  }